.subheader {
  color: gray !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.values {
  color: #FFF !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
}

.values-negative {
  color: var(--red-500, #F05252) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
}

.amount{
  color: #FFF !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 27px !important;
}
.percentage{
  color: var(--red-500, #F05252) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 21px !important;
}

.stats-box {
  display: flex !important;
  gap: 10px !important;
  background-color: #151314 !important;
  border-radius: 8px !important;
  padding: 25px !important;
  width: 100% !important;
}
div#country-select{
  color: white !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: white;
}
.btn_tabel{
  
  color: var(--green-500, #0E9F6E) !important;
  border: 1px solid var(--green-500, #0E9F6E) !important;
}
.btn_tabel2{
  border: 1px solid var(--red-500, #F05252) !important;
  color: var(--green-500, #F05252) !important;;

}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorSecondary.Mui-selected.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
  color: white !important;
}